#Wrapper {
    display: grid;
    height: 200vh;
    width: 100%;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 75px 75px 782px 470px 900px 50px;
    grid-template-areas:
    'hd hd hd'
    'as as as'
    'im im im'
    'ti ti ti'
    'en en en'
    'ft ft ft'
}
header {
    background-color: white;
    grid-area: hd;
}
#container {
    background-color: brown;
    grid-area: as;
}
#penis {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap-reverse;
    align-items: stretch;
    justify-content: space-around;
    box-sizing: border-box;
    justify-items: stretch;
    overflow: hidden;
    position: fixed;
    top: 0px;
    width: 100%;
    height: 150px;
}
#mainimg {
    grid-area: im;
    background-image: url(../img/animals/animals_hero_capybara.jpg);
}
#times {
    background-color: white;
    grid-area: ti;
}
#entrances {
    background-color: rgba(25, 25, 25, 1);
    grid-area: en;
}
#news1 {
    background-color: cornflowerblue;
    grid-area: n1;
}
#news2 {
    background-color: darkgoldenrod;
    grid-area: n2;
}
footer {
    background-color: black;
    grid-area: ft;
}
body {
    margin: 0px;
    overflow-x: hidden;
}
#but1 {
    display: flex;
    background-color: #F4F0DB;
    border-color: none;
    border: none;
    flex: 1;
    align-items: center;
    justify-content: center;
    border-right: 1px solid rgba(0, 0, 0, 0.3);
    height: 50%;
    text-decoration: none;
    color: black;
}
#but2 {
    display: flex;
    background-color: #F4F0DB;
    border-color: none;
    border: none;
    flex: 1;
    align-items: center;
    justify-content: center;
    border-left: 1px solid rgba(0, 0, 0, 0.3);
    border-right: 1px solid rgba(0, 0, 0, 0.3);
    height: 50%;
    text-decoration: none;
    color: black;
}
#but3 {
    display: flex;
    background-color: #F4F0DB;
    border-color: none;
    border: none;
    flex: 1;
    align-items: center;
    justify-content: center;
    border-left: 1px solid rgba(0, 0, 0, 0.3);
    height: 50%;
    text-decoration: none;
    color: black;
}
#but1:hover {
    display: flex;
    background-color: #ECD9BA;
    border-color: none;
    border: none;
    flex: 1;
    align-items: center;
    justify-content: center;
    border-right: 1px solid rgba(0, 0, 0, 0.3);
}
#but2:hover {
    display: flex;
    background-color: #ECD9BA;
    border-color: none;
    border: none;
    flex: 1;
    align-items: center;
    justify-content: center;
    border-left: 1px solid rgba(0, 0, 0, 0.3);
    border-right: 1px solid rgba(0, 0, 0, 0.3);
}
#but3:hover {
    display: flex;
    background-color: #ECD9BA;
    border-color: none;
    border: none;
    flex: 1;
    align-items: center;
    justify-content: center;
    border-left: 1px solid rgba(0, 0, 0, 0.3);
}
#header {
    background-color: rgba(25, 25, 25, 1);
    display: flex;
    align-items: stretch;
    justify-content: space-around;
    box-sizing: border-box;
    justify-items: stretch;
    position: fixed;
    width: 100%;
    height: 75px;
    top: 0px;
}
#logo {
    color: white;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-align: center;
    justify-content: center;
    padding-top: 16px;
    font-size: 2rem;
}
#banner2 {
    display: flex;
    background-color: rgba(25, 25, 25, 1);
    height: 75px;
    font-size: 3rem;
    align-items: center;
    justify-content: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: white;
}
#boxesopening {
    display: flex;
    background-color: #C8AD7E;
    height: 100%;
    justify-content: center;
}
#openingtimes {
    display: flex;
    background-color: rgba(25, 25, 25, 0.4);
    height: fit-content;
    flex-direction: column;
    align-items: center;
    margin-top: 45px;
    font-size: 3rem;
    padding-left: 25px;
    padding-right: 25px;
    border-radius: 50px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin-bottom: 45px;
}
#entrances {
    display: flex;
    justify-content: center;
}
#entitle {
    font-size: 4rem;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: white;
}
#entre1 {
    color: black;
    font-size: 1.5rem;
    background-color: rgba(255, 255, 255, 0.8);
    height: 400px;
    width: 300px;
    border-radius: 20px;
    padding: 10px;
}
#entre2 {
    color: black;
    font-size: 1.5rem;
    background-color: rgba(255, 255, 255, 0.8);
    height: 400px;
    width: 300px;
    border-radius: 20px;
    padding: 10px;
}
#entre3 {
    color: black;
    font-size: 1.5rem;
    background-color:rgba(255, 255, 255, 0.8);
    height: 400px;
    width: 300px;
    border-radius: 20px;
    padding: 10px;
}
#entrances1 {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 50px;
    margin-top: 300px;
    justify-content: space-evenly;
}
#menucontainer {
    display: grid;
    grid-template-columns: 2fr 5fr 2fr;
    grid-template-rows: 100vh;
    grid-template-areas:
    'bi1 men bi2'
}
#img1menu {
    grid-area: bi1;
    background-color: red;
}
#img2menu {
    grid-area: bi2;
    background-color: red;
}
#amogus {
    width: 100%;
    height: 100%;
}
#amogus2 {
    width: 100%;
    height: 100%;
}
#menumain {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: white;
    padding-top: 200px;
    background-color: rgba(25, 25, 25, 1);
}
#menutitle {
    font-size: 5rem;
    text-align: center;
    padding-bottom: 50px;
}
.menuitems{
    font-size: 1.5rem;
    padding-top: 50px;
    text-align: center;
}
#menuimg1{
    height: 350px;
    margin-bottom: 0px;
}
#menuitemss{
    margin-bottom: 50px;
}
#bigcardflex {
    display: flex;
    align-items: flex-start;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin-top: 100px;
    flex-direction: row;
}
.card {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
}
.card:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}
.container {
    padding: 2px 16px;
}
.cardimg{
    height: 300px;
}
#ourpersonal {
    margin-top: 200px;
    text-align: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 5rem;
}